

<div *ngIf="issue$ | async as issue" class="issue-details">
  <h2>{{ issue.title }}</h2>
  <div class="metadata">
    <span class="date">Created At: {{ issue.createdAt | date:'medium' }}</span>
  </div>
  <p class="description">{{ issue.description }}</p>
  <div class="comments">
    <h3>Comments ({{ issue.comments.length }})</h3>
    <div *ngFor="let comment of issue.comments" class="comment">
      <div class="comment-text">{{ comment.text }}</div>
      <div class="comment-metadata">Posted on {{ comment.createdAt | date:'medium' }}</div>
    </div>
  </div>
</div>
