<h2>Issue List</h2>
<div class="card-container">
  <div *ngFor="let issue of issues" [appSeverity]="issue.severity" class="card">
    <div class="card-header">
      <h3>{{ issue.title }}</h3>
    </div>
    <div class="card-body">
      <div class="issue-info">
        <p><strong>ID:</strong> {{ issue.id }}</p>
        <p><strong>Description:</strong> {{ issue.description }}</p>
        <p><strong>Created At:</strong> {{ issue.createdAt | date:'dd.mm.yyyy' }}</p>
      </div>

      <div class="actions">
        <button [routerLink]="[issue.id]"  mat-raised-button color="primary" class='btn'mat-button>View Details</button>
     </div>
    </div>


  </div>
</div>
